# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
Deploy

/Vpp/Global
/Vpp/Packaging
/Vpp/PageFiles
/Vpp/Documents
*.suo
/Web/_ReSharper.EPiBooks
/Web/Libraries/EPiServer.ApplicationModules.dll
/Web/Libraries/EPiServer.BaseLibrary.dll
/Web/Libraries/EPiServer.Blog.dll
/Web/Libraries/EPiServer.Configuration.dll
/Web/Libraries/EPiServer.Data.Cache.dll
/Web/Libraries/EPiServer.Data.dll
/Web/Libraries/EPiServer.Enterprise.dll
/Web/Libraries/EPiServer.Events.dll
/Web/Libraries/EPiServer.Framework.dll
/Web/Libraries/EPiServer.ImageLibrary.dll
/Web/Libraries/EPiServer.Implementation.dll
/Web/Libraries/EPiServer.Licensing.dll
/Web/Libraries/EPiServer.LinkAnalyzer.dll
/Web/Libraries/EPiServer.Scheduler.WKTL.dll
/Web/Libraries/EPiServer.Scheduler.dll
/Web/Libraries/EPiServer.Shell.dll
/Web/Libraries/EPiServer.UI.dll
/Web/Libraries/EPiServer.Web.WebControls.dll
/Web/Libraries/EPiServer.WebDav.dll
/Web/Libraries/EPiServer.WebParts.dll
/Web/Libraries/EPiServer.WorkflowFoundation.dll
/Web/Libraries/EPiServer.XForms.dll
/Web/Libraries/EPiServer.XmlRpc.dll
/Web/Libraries/EPiServer.dll
/Web/Logs/FindCrawler.txt
