body {
    background: #fff;
}
menu#TopMenu .selected {
    font-weight: bold;
}
#SearchWrapper {
    width: 500px;
    margin: 20px;
}
#HitsFound {
    margin: 10px 0 10px 0;
}
.hit {
    border-top: 1px dotted #eee;
    padding: 5px 0 5px 0;
}
.hit a {
    font-size:14px;
    text-decoration: none;
}
.hit p {
    margin:0;
}
.hit .image img {
    width: 100%;
}
