<connectionStrings>
    <clear />
    <add name="EPiServerDB"
         connectionString="Data Source=SL0377VP1;Initial Catalog=dbEPiBooks;Integrated Security=False;User ID=dbUserEPiBooks;Password=dasdas!123243;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
</connectionStrings>