@using EPiServer.Web.Mvc.Html
@model EPiServer.Core.IContent

@{
    ViewBag.Title = "Block preview mode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
#PropertyWrapper {
    width: 60%;
}
</style>

<div id="PropertyWrapper">
    @foreach (var property in Model.Properties) {
        if (!string.IsNullOrEmpty(property.Name) && property.Value != null) {
            <div><strong>@property.Name</strong></div>
            <div>@Html.Raw(property.Value.ToString())</div>       
        }
    }
</div>