<episerver xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <sites xdt:Transform="Replace">
        <site siteId="EPiBooks"
              description="Example Site">
            <siteSettings httpCacheability="Public"
                          httpCacheVaryByCustom="path"
                          httpCacheVaryByParams="id,epslanguage"
                          pageFolderVirtualPathProvider="SitePageFiles"
                          pageRootId="1"
                          pageStartId="4"
                          pageValidateTemplate="false"
                          pageWastebasketId="2"
                          globalBlockFolderId="3"
                          siteBlockFolderId="3"
                          uiShowGlobalizationUserInterface="true"
                          urlRebaseKind="ToRootRelative"
                          siteDisplayName="EPiBooks Production Site"
                          siteUrl="http://sl0377vp1:17001/"
                          uiUrl="~/epiui/CMS/"
                          utilUrl="~/util/" />
        </site>
    </sites>
</episerver>